<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <div class="logo ion-text-center">
          <img src="assets/icon.png" height="60" width="60" alt="LOGO" />
          <br>
          <h4>Simple Barcode</h4>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <p>
        Simple Barcode is an open source, simple, lightweight barcode scanner app.
      </p>
    </ion-row>
    <ion-row>
      <p>Developed by
        <b>
          <a href="https://github.com/razinj">
            RAZINJ
          </a>
        </b>
      </p>
    </ion-row>
    <ion-row>
      <p>
        Code is available on
        <a href="https://github.com/razinj/simple-barcode">
          Github
        </a>
      </p>
    </ion-row>
    <ion-row>
      <p>Contact me by <a href="mailto:nizarjailane@gmail.com">E-mail</a></p>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <a href="https://www.github.com/razinj">
          <ion-icon color="danger" size="large" name="logo-github"></ion-icon>
        </a>
      </ion-col>
      <ion-col>
        <a href="https://www.linkedin.com/in/nizar-jailane-969107153/">
          <ion-icon color="danger" size="large" name="logo-linkedin"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
