:root {
  --ion-color-primary: #f04141;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d33939;
  --ion-color-primary-tint: #f25454;
}
