<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="line-height: 1px">Scans</p>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" (click)="clearHistory()">clear</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="history">
    <div *ngFor="let h of getSortedHistory">
      <ion-card>
        <ion-item>
          <ion-label>
            <small>{{h.date_scanned}}</small>
          </ion-label>
          <ion-button size="small" slot="end" (click)="deleteScan(h)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button size="small" slot="end" (click)="searchScan(h)" color="medium">
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-card-content>
          <small>Format : </small>{{h.format}}
          <br>
          <small>Content : </small>{{h.text}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="noHistoryMessage" *ngIf="!history">
    <p>No History Here Yet</p>
    <p>Scan something and make me disappear!</p>
  </div>
</ion-content>